:root {
  --dark-color: rgb(38, 38, 38);
  --light-color: rgb(216, 216, 216);
  --shadow: 0 2px 6px rgb(118, 118, 118);
  --light-shadow: 0 2px 6px var(--light-color);
  --dark-shadow: 0 2px 6px var(--dark-color);

  --blue-color: rgb(112, 148, 204);
  --red-color: rgb(204, 112, 140);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 239, 255);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* shadow style */

.shadow {
  box-shadow: var(--shadow);
}

.light-shadow {
  box-shadow: var(--light-shadow);
}

.dark-shadow {
  box-shadow: var(--dark-shadow);
}

/* button style */

.btn-success {
  padding: 10px;
  font-size: 16px;
  background: var(--blue-color);
  cursor: pointer;
  color: rgb(203, 203, 203);
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 500ms ease;
}

.btn-danger {
  padding: 10px;
  font-size: 16px;
  background: var(--red-color);
  cursor: pointer;
  color: rgb(203, 203, 203);
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 500ms ease;
}

.btn-danger:hover {
  color: black;
}

.btn-success:hover {
  color: black;
}

/*  */

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}
/* card designs */

.card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

/* card contents */

.card-header {
  font-size: 26px;
  font-weight: bold;
  padding: 5px 8px 0;
  border-bottom: 1px solid gray;
}

.details {
  margin: 6px;
}

.details a {
  color: rgb(0, 6, 175);
  text-decoration: none;
}

/* responsive designs */

@media screen and (max-width: 900px) {
  .card {
    width: 150px;
  }

  .card-header {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 120px;
  }

  .card-header {
    font-size: 20px;
  }

  .details * {
    font-size: 14px;
  }
}
